<mat-toolbar color="primary">Person List</mat-toolbar>

<div style="display: flex; padding: 16px; gap: 8px; align-items: center;">
  <mat-form-field class="person-input" appearance="outline">
    <mat-label>Add Person</mat-label>
    <input matInput [(ngModel)]="newPersonName" (keyup.enter)="add()" />
  </mat-form-field>

  <button mat-flat-button color="primary" (click)="add()" style="margin-bottom: 20px">Add</button>
</div>

<mat-list>
  <mat-list-item *ngFor="let person of people">
    <div style="display: flex; padding: 4px; gap: 4px; align-items: center; justify-content: space-between;">
      <button mat-button (click)="select(person.id)">
        {{ person.name }}
      </button>
      <div style="display: flex; padding: 4px; gap: 4px; align-items: center;">
        <button mat-icon-button color="accent" (click)="edit(person)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="remove(person.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-list-item>
</mat-list>
